<div>
    <div class="row flex-column g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success-emphasis">{articleCategory}</strong>
            <h3 class="mb-0" style="font-family: Cutive Mono;">{articleTitle}</h3>
            <div class="mb-1 text-body-secondary">{articlePublishDate}</div>
            <p class="mb-auto">{articleSummary}</p>
            <a href="#" class="icon-link gap-1 icon-link-hover">
                By: {articleAuthor}
                <svg class="bi"><use xlink:href="#chevron-right"/></svg>
            </a>
        </div>
        <div class="col-auto flex-column d-lg-block position-static text-center order-first order-md-last">
            <img src="{articleThumbnailUrl}"
                    width="auto" height="180" class="center" alt="{articleThumbnailAltText}">
        </div>
    </div>
</div>

<div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6  col-centered  g-0 border rounded overflow-hidden mb-4 shadow-sm h-md-250 p-4 justify-content-center">
            {articleBody}
        </div>
        <div class="col-md-3"></div>
    </div>

</div>