    <div class="container-lg">
      <script src="https://unpkg.com/feather-icons"></script>
      <div class="row mt-5 mb-3">
        <!-- spacer div -->
        <div class="col-sm-2"></div>

        <!-- image and stats column -->
        <div class="col-sm-2">
          <img src="{AuthorImage}" class="img-fluid mb-3" alt="{AuthorImageAltText}">

          <div class="author-stat">
            <p>
              <i data-feather="tag"></i>
              Pronouns: {AuthorPronouns}
            </p>
          </div>

          <div class="author-stat">
              <p>
              <i data-feather="book-open"></i>
              Major: {AuthorMajor}
            </p>
          </div>

          <div class="author-stat">
              <p>
              <i data-feather="award"></i>
              Year: {AuthorYear}
            </p>
          </div>

          <div class="author-stat">
              <p>
              <i data-feather="home"></i>
              Location: {AuthorLocation}
            </p>
          </div>

          <div class="author-stat">
              <p>
              <i data-feather="file-text"></i>
              Fact: {AuthorFact}
            </p>
          </div>

          <div class="author-stat">
              <p>
              <i data-feather="mail"></i>
              Email: {AuthorEmail}
            </p>
          </div>

          {OtherSocials}
        </div>
        
        <!-- bio and previous works -->
        <div class="col-sm-6">
          <h1>{AuthorName}</h1>

          <hr>

          <h2>Bio</h2>

          <p>
            {AuthorBio}
          </p>

          <hr>

          <h2>Previous Articles</h2>

          {AuthorPrevArticles}
        </div>

        <!-- spacer div -->
        <div class="col-sm-2"></div>
      </div>
      <script>
        feather.replace();
      </script>
    </div>
